/*Global styles*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
a{
    font-size:1.7rem ;
    list-style-type: none;
    text-decoration: none;
}
h2{
    font-size: 5rem;
}
h3{
   font-size:2.5rem;

}
/*Nav and hero styles*/
.header-section{
    background-color:#152D35;
}
.header-section a{
    color:white;
}
nav{
    min-height: 10vh;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content:space-around;
    align-items: center;
}
#logo{
    flex: 1 1 40rem;
    font-size: 2.5rem;
    color:white;
    font-family:  'Titillium Web', sans-serif;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.hero{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), transparent), url('./images/background2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
    background-size:cover;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.hero button{
    height: 4rem;
    width: 13rem;
    font-size: 2rem;
    margin: 3rem;
    color: white;
    background-color: #152D35;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    transition: background 0.5s ease-in-out;
}
.hero button:hover{ 
    background-color: #345B63;
}
.hero h2{ 
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
}
.hero h3{
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    padding: 2rem;
}
.locations{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url('./images/map.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.locations {
    color: white;
    font-family: 'Nunito', sans-serif;
    
}
.locations h2{
    margin: auto;
}
.locations h3{ 
    margin-bottom: 30rem;
}


#slider{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    
}
#slider figure{ 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img{
    width: 20%;
    float: left;
}
#slider img{ 
    height: 100%;
    width: 100%;
}
 @keyframes slider {
     0%{ 
         left: 0;
     }
     20%{
         left: 0;
     }
     25%{
         left: -100%;
     }
     45%{
         left: -100%;
     }
     50%{
         left: -200%;
     }
     70%{
         left: -200%;
     }
     75%{
         left: -300%;
     }
     95%{
         left: -300%;
     }
     100%{
         left: -400%;
     }
     
 }
 /*Benefits section*/
 .benefits{ 
     color: white;
     background: #152D35;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 30vh;
 }
 .benefits h2{
     margin: 2rem;
 }
 .benefits h3{ 
     padding: 2rem;
 }
 .cards{ 
     width: 90%;
     margin: auto;
     display: flex;
     min-height: 70vh;
     align-items: center;
     flex-wrap: wrap;
 }
 .card { 
     background-color: white;
     flex: 1 1 10rem;
     min-height: 30vh;
     margin: 2rem 5rem;
     box-shadow: 0px   10px   10px rgba(0, 0, 0, 0.281);
             /*   x      y   blur   color*/
    text-align: center;
 }
 .card img{
     height: 10rem;
     padding: 2rem;
 }
.card-icons{ 
    background: #EEEEEE;
    
}
.card h4{ 
    font-size: 2.5rem;
    margin: 2rem;
}
.card p{ 
    font-size: 1.5rem;
}

/*Form section*/
.form-section{ 
    min-height: 100vh;
    background: coral;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
 }

.form-data{ 
    background: rgb(49, 53, 45, 0.4);
    display: flex;
    flex-direction: column;
    width: 10rem;
}
.form-data h4{
    font-size: 3rem;
}
.form-data label{ 
    font-size: 3rem;

}
.form-button{
    display: flex;
    justify-content: center;
}
.form-button button{  
    height: 4rem;
    width: 13rem;
    font-size: 2rem;
    margin: 3rem;
    color: white;
    background-color: #152D35;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    transition: background 0.5s ease-in-out;
}
@media screen and (max-width:802px) {
    nav{
        text-align: center;
        padding: 3rem;
    }
    #logo{
        padding: 2rem;
    }
    html{ 
        font-size:45%;
    }

}